<launch>
  <node pkg="openkite" type="simulator" name="simulator" output="screen">
    <rosparam param="init_state"> [0.25,0.35,0.78]</rosparam>
    <param name="kite_params" value="/Users/plistov/EPFL/ROS/ros_catkin_ws/devel/lib/test_package/umx_radian2.yaml" />
  </node>
  <node pkg="openkite" type="kite_visualization_node" name="visualisation_node" output="screen">
  </node>
</launch>
