<launch>
  <node pkg="openkite" type="simulator" name="simulator" output="screen">
    <rosparam param="init_state"> [4.4,0.44,1.73, 0.81,-1.73,-1.53, -0.46,-2.68,0.64, -0.0289,0.1587,0.4304,0.8881]</rosparam>
    <param name="kite_params" value="/Users/plistov/EPFL/ROS/ros_catkin_ws/devel/lib/test_package/umx_radian2.yaml" />
  </node>
  <node pkg="openkite" type="kite_visualization_node" name="visualisation_node" output="screen">
  </node>
</launch>
