<launch>
    <node pkg="openkite" type="simulator" name="simulator" output="screen">
        <!-- Initial state:           v......., rates.., pos......., attQuat... -->
        <rosparam param="init_state">[15, 0, 0,  0, 0, 0,  0, 0, -1,  0.38268, 0, 0, 0.92388]</rosparam>
        <param name="kite_params" value="/home/johannes/identification/easy_glider_4.yaml"/>
    </node>
    <node pkg="openkite" type="kite_visualization_node" name="visualisation_node" output="screen">
    </node>
</launch>
